@import url(variables.css);

            /*** All ***/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

            /*** Body ***/

body{
    background: var(--color-2);
}

            /*** Header ***/

header{
    background: black;
    padding: 15px;
}
.header h1{
    background: violet;
    padding: 15;
    font-family: "Avenir-Heavy";
}
.header p{
    background: greenyellow;
    padding: 15px;
    font-family: "Avenir-Roman";
}
.header button{
    background: turquoise;
    padding: 15px;
    font-family: "Avenir-Heavy";
}
