<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="storage/img/example.png" type="image/png">
    <title>Page 3</title>
    
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

                <!--- Header --->

    <header>
        <section class="title">
            <h1>
                Just that simple
            </h1>
        </section>
        <section class="text-and-button">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.
            </p>
            <button>
                <a href="#">Get stared</a>
            </button>
        </section>
    </header>

            <!--- Image --->

    <section class="image">
            <img src="storage/img/Image.png">
    </section>
    
</body>
</html>