<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="storage/img/example.png" type="image/png">
    <title>Page 1</title>
    
    <link rel="stylesheet" href="../css/stylePage1.css">
</head>

<body>
    
            <!--- Header --->

    <header class="header">
        <h1>
            Discover the beauty around the world
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.
        </p>
        <button>
            <a href="#">Explore</a>
        </button>
    </header>

            <!--- Section --->

    <section>
        <div class="row1">
            <img src="../storage/img/p1-1.png">
            <img src="../storage/img/p1-2.png">
            <img src="../storage/img/p1-3.png">
            <img src="../storage/img/p1-4.png">
        </div>
        <div class="row2">
            <img src="../storage/img/p1-5.png">
            <img src="../storage/img/p1-6.png">
            <img src="../storage/img/p1-7.png">
            <img src="../storage/img/p1-8.png">
        </div>
    </section>

</body>
</html>